body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Color de fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 80%; /* Ancho máximo del contenedor */
}

img {
    display: block;
    margin: 0 auto; /* Centrar el logo */
    max-width: 100%;
    height: auto;
}
